<h1>Edit Post</h1>

<form action="<%= post_url(@post) %>" method="POST">
  <input type="hidden" name="_method" value="PATCH" />
  <%= auth_token %>

  <input type="hidden" name="post[sub_id]" value="<%= @post.sub_id %>" />

  <label>Title:
    <input type="text" name="post[title]" id="Title" value="<%= @post.title %>" />
  </label>
  <br />

  <label>URL:
    <input type="text" name="post[url]" id="URL"  value="<%= @post.url %>" />
  </label>
  <br />

  <label>Content:
    <input type="text" name="post[content]" id="Content"  value="<%= @post.content %>" />
  </label>
  <br />

  

  <input type="submit" value="Update Post" />
</form>
