<h1>New Post</h1>

<form action="<%= posts_url %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="post[sub_id]" value="<%= params[:sub_id] %>">

  <label>Title:
    <input type="text" name="post[title]" id="Title" value="<%= @post.title %>" />
  </label>
  <br />

  <label>URL:
    <input type="text" name="post[url]" id="URL"  value="<%= @post.url %>" />
  </label>
  <br />

  <label>Content:
    <input type="text" name="post[content]" id="Content"  value="<%= @post.content %>" />
  </label>
  <br />

  <label>Subs</label>
  <br />
  <% Sub.all.each do |sub| %>
    <label>
      <input
        type="checkbox"
        name="post[sub_ids][]"
        value="<%= sub.id %>"
        <%= "checked='checked'" if @post.sub_ids.include?(sub.id) %>
        />
      <%= sub.title %>
    </label>
  <% end %>

  <input type="submit" value="Create New Post" />
</form>
