<h1>Post</h1>

<%= @post.title %>
<br />
<br />
<%= link_to @post.url, @post.url %>
<br />
<br />
<%= @post.content %>
<br />
<br />
<br />
Subs:
<br />
<ul>
<% @post.subs.each do |sub| %>
  <li>
    <%= link_to sub.title, sub_url(sub) %>
  </li>
<% end %>
</ul>

<%= link_to "Edit Post", edit_post_url(@post) %>
<br />
<br />
<%= button_to "Delete Post", post_url(@post), method: :delete %>
<br />
<br />
<br />

Comments
<br />
<br />
<%= link_to "Add Comment", new_post_comment_url(@post) %>
<br />
<br />
<% @post.comments.each do |comment| %>
  <%= comment.content %>
  <br />
  By <%= comment.author.username %>
  <br />
  <%= link_to "Detail", comment_url(comment) %>
  <br />
  <br />
<% end %>
