<h1>Post</h1>

<%= @post.title %>
<br />
<%= link_to @post.url, @post.url %>
<br />
<%= @post.content %>
<br />

<%= link_to "Edit Post", edit_post_url(@post) %>
<br />
<%= button_to "Delete Post", post_url(@post), method: :delete %>
