<h1>Post</h1>

<%= @post.title %>
<br />
<br />
<%= link_to @post.url, @post.url %>
<br />
<br />
<%= @post.content %>
<br />
<br />
<br />
Subs:
<br />
<ul>
<% @post.subs.each do |sub| %>
  <li>
    <%= link_to sub.title, sub_url(sub) %>
  </li>
<% end %>
</ul>

<%= link_to "Edit Post", edit_post_url(@post) %>
<br />
<br />
<%= button_to "Delete Post", post_url(@post), method: :delete %>
